.contact-holder{
    max-width: 980px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 147.5px;
    // background-color: pink;
    padding: 0 20px ;
    
    .contact-header{
        font-family: ProximaNovaExtraCondensed;
        font-size: 30px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 10px;
        letter-spacing: 2px;
    }

    .contact-content{
        max-width: 979px;
        min-height: 637px;
        // background-color: gray;
        margin-top: 50.5px;
        display: flex;

        .contact-left{
            width: 400px;
            height: 637px;
            // background-color: green;

            .contact-picture{
                width: 400px;
                height: 442px;
                background-image:url(../images/contact.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .contact-info{
                max-width: 400px;
                min-height: 161px;
                // background-color: indigo;
                margin-top: 34px;
                font-family: GillSansLight;
                font-size: 18px;
            }

        }
        .contact-right{
            width: 579px;
            height: 637px;
            // background-color: blue;

            .contact-form{
                width: 579px;
                min-height: 222px;
                // background-color: yellow;

                input{
                    max-width: 508px;
                    height: 60px;
                    border: none;
                    margin-bottom: 21px;
                    margin-left: 15px;
                    padding: 0 20px;
                    background-color: #F5F5F5;
                    color: #707070;
                    font-size: 16px;
                    font-family: GillSans;
                }

                textarea{
                    max-width: 508px;
                    height: 199px;
                    margin-left: 15px;
                    border: none;
                    background-color: #F5F5F5;
                    color: #707070;
                    font-size: 16px;
                    font-family: GillSans;
                    padding-left: 21px;
                    padding-top: 21px;
                }

            }

            .contact-button{

                button{
                    width: 167px;
                    height: 60px;
                    background-color: #79ADDC;
                    color: #fff;
                    font-family: GillSans;
                    font-size: 16px;
                    border: none;
                    margin-left: 15px;
                    margin-top: 20px;
                    cursor: pointer;
                }

            }
        }
    }
}

@media all and (max-width: 5000px) {
    .contact-form{
        input,textarea {
            width: 508px;
        }
    }
}

@media all and (max-width: 1000px) {
    .contact-form{
        input,textarea {
            width: 350px;
        }
    }
}

@media all and (max-width: 840px) {
    .contact-form{
        input,textarea {
            width: 250px;
        }
    }
}

@media all and (max-width: 700px) {
    .contact-content{
        flex-direction: column;
        flex: wrap;
    }

    .contact-form{
        margin-top: 30px;
    }
}
